In [10]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [11]:
data = pd.read_csv('movielens_sample.txt')
train, test = train_test_split(data, test_size=0.2)

In [12]:
data.info

<bound method DataFrame.info of      user_id  movie_id  rating  timestamp  \
0       3299       235       4  968035345
1       3630      3256       3  966536874
2        517       105       4  976203603
3        785      2115       3  975430389
4       5848       909       5  957782527
..       ...       ...     ...        ...
195     1427      3596       3  974840560
196     3868      1626       3  965855033
197      249      2369       3  976730191
198     5720       349       4  958503395
199      877      1485       3  975270899

                                           title                     genres  \
0                                 Ed Wood (1994)               Comedy|Drama
1                           Patriot Games (1992)            Action|Thriller
2          Bridges of Madison County, The (1995)              Drama|Romance
3    Indiana Jones and the Temple of Doom (1984)           Action|Adventure
4                          Apartment, The (1960)               Comedy|Drama
..                                           ...                        ...
195                               Screwed (2000)                     Comedy
196                       Fire Down Below (1997)      Action|Drama|Thriller
197             Desperately Seeking Susan (1985)             Comedy|Romance
198              Clear and Present Danger (1994)  Action|Adventure|Thriller
199                             Liar Liar (1997)                     Comedy

    gender  age  occupation    zip
0        F   25           4  19119
1        M   18           4  77005
2        F   25          14  55408
3        M   18          19  29307
4        M   50          20  20009
..     ...  ...         ...    ...
195      M   25          12  21401
196      M   18          12  73112
197      F   18          14  48126
198      M   25           0  60610
199      M   25           0  90631

[200 rows x 10 columns]>

In [13]:
test['rating'] = 1

C:\ProgramData\Anaconda3\envs\tf\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [15]:
train.to_csv('train.csv', header = None)
test.to_csv('test.csv', header = None)

In [14]:
print(test.head())

     user_id  movie_id  rating  timestamp                      title  \
24      3123      2407       1  969324381              Cocoon (1985)
138     4815      3181       1  972240802               Titus (1999)
93      2181      2020       1  979353437  Dangerous Liaisons (1988)
168     3483      2561       1  986327282          True Crime (1999)
0       3299       235       1  968035345             Ed Wood (1994)

             genres gender  age  occupation    zip
24    Comedy|Sci-Fi      M   25           2  90401
138           Drama      F   50          18  04849
93    Drama|Romance      M   25           0  45245
168  Crime|Thriller      F   45           7  30260
0      Comedy|Drama      F   25           4  19119